terraform-provider-kubevirt
*swp
_examples/**/.terraform
_ci-configs
build/_output
_examples2/
.vscode/
*.zip
.vscode/
dist/

.terraform.lock.hcl
terraform.tfvars
kubernetes.tf
*.tfstate
*.backup
_examples3/